<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-employee">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Employee</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_employees}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-company">
			  	<div class="card-header">
			  		<h5 class="card-title">Total_Company</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_company}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="company-status">
			  	<div class="card-header">
			  		<h5 class="card-title">Company_Status</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{company_status}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="All-avg-salary">
			  	<div class="card-header">
			  		<h5 class="card-title">Salary>15000</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{salary_morethan}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="avg-salary">
			  	<div class="card-header">
			  		<h5 class="card-title">Salary<15000</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{salary_lessthan}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>